<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="form-container">
        <div class="form-logo">
            <h3>NPHI</h3>
        </div>
        <form action="/report" method="POST">
            <label>Username</label>
            <input type="text" name="username">
            <label>Password</label>
            <input type="password" name="password">
            <input type="submit" value="Log In">
        </form>
   </div>

    
</body>
</html>